@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}
.section{
    width: 90%;
    margin: 3rem 6rem;
}

.md-36 { font-size: 36px !important; }

.md-24 { font-size: 24px !important; }